<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!-- one public will be automatically appended because of express static -->
    <title>Document</title>
</head>
<body>
    <h1>Yoooo m hu khalnaayak</h1>
    <h3><%=age%></h3>
</body>
</html>